* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row .column-1 {
  height: 100%;
}

.row .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: burlywood;
  padding: 30px;
  height: 100%;
}

h2 {
  font-size: 40px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  margin:20px 0;
}